* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main-header {
  width: 75%;
  margin: 15rem auto;
  padding: 64px;
  border-radius: 16px;
  box-shadow: 0 24px 48px #0005;
  background: linear-gradient(#d3f9d8, #d8f5a2);
}
