* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main-header {
  text-align: center;
}

.container {
  width: 95%;
  margin: 2rem auto;
  /* padding: 64px; */
  border-radius: 16px;
  /* box-shadow: 0 24px 48px #0005; */
}

.hading-hero {
  font-size: 80px;
}

.section {
  margin-bottom: 32px;
}
